---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
---

<header>
    
    <h1>Site development with Astro</h1>

    <nav>
        <Hamburger />
        <Navigation />
    </nav>

</header>